@import '../colors';
@import '../effects';

.navbar {
  display:flex;
  justify-content: center;
  padding-top:.25em;
  padding-bottom: .25em;
  align-items:center;
  background-color: $light-yellow;
  box-shadow: $box-shadow-s;
}

.navbar > a {
  text-decoration: none;
}

.navbar > * {
  margin: .5rem;
  padding: .25rem;

  :hover {
    transition: color 1s;
    color: $dark-300;

  }
}