@import '../colors';
@import '../effects';
@import '../fonts';

.snippet {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em;
  margin: .5em;
  box-shadow: $box-shadow-m;
  border-radius: .5em 0 .5em 0;

  .snippet-header {
    .snippet-title {
      font-size: $font-size-300;
    }

    .snippet-tags {
      margin: .25em;
    }
  }

  .snippet-content {
    padding: .25em;

  }

  .snippet-footer {
    display:flex;
    padding: .25em;
    justify-content: space-between;
    .snippet-author {
      text-emphasis: $dark-200;
      font-style: italic;
    }
  }
}