@import '../colors';
@import '../effects';
@import '../fonts';

.snippet {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin: .5em;
  box-shadow: $box-shadow-s;

  .snippet-header {
    .snippet-title {
      display: block;
      text-align: center;
      font-size: $font-size-300;
      border-bottom: 1px solid $light-gray;
    }

    .snippet-tags {
      margin: .25rem;
    }
  }

  .snippet-content {
    padding: .25rem;

  }

  .snippet-footer {
    display:flex;
    padding: .25rem;
    justify-content: space-between;
    .snippet-author {
      text-emphasis: $dark-200;
      font-style: italic;
    }
  }
}