asgiref==3.2.3
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
django-autocomplete-light
django-crispy-forms
django-currentuser
django-js-asset
django-tinymce
idna
oauthlib
Pillow
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3
