@import "variables";
@import "mixins";

*{
  font-family: $font-primary;
  box-sizing: border-box;
  color:$color-dark;
}

body{
  background-color: $color-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a{
  color: $color-blue;
  text-decoration: none;
  font-family: $font-primary;
  font-weight: 500;
}