{% extends 'blog/components/modal.html' %}
{% block content %}
<form class="delete-form" method="post">{% csrf_token %}
    <p>Are you sure you want to <span class="text-warning">delete</span> the following post?</p>
    <h2>{{ object }}</h2>
    <nav class="nav-confirm">
        <button class="btn-confirm" type="submit"><i class="material-icons">done</i></button>
        <a class="btn-close" href="#" onclick="closeModal()"><i class="material-icons">close</i></a>
    </nav>
</form>
{% endblock %}