{% extends 'blog/base.html' %}
{% block content %}
    <a href="{% url 'blog:post-detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a>
    {{ post.content | safe }}
    {{ post.author }}
    <a href="{% url 'blog:post-update' pk=post.pk slug=post.slug %}">edit</a>
    <a href="{% url 'blog:post-delete' pk=post.pk slug=post.slug %}">delete</a>
    <div>
    <span>{% for username in post.liked_by %}{{ username }}, {% endfor %}</span>
    </div>
    <form method="post" id="like-form">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.pk }}">
    <button type="submit">Submit</button>
    </form>
{% endblock %}
{% block javascript %}
{% endblock %}