{% extends 'blog/base.html' %}
{% block header %}
<div class="post-info">
    <a href="#"><span class="post-category">#{{ post.category }}</span></a>
    <a class="post-author" href="{% url 'users:profile-detail' username=post.user.username %}">{{ post.user }}</a>
    <span class="post-date">{{ post.created_on }}</span>
    {% if request.user.is_active and request.user == post.user %}
        <a href="{% url 'blog:post-update' pk=post.pk slug=post.slug %}">
            <span id="edit-icon" class="material-icons">edit</span>
        </a>
        <a
        onclick="openModal()"
        hx-get="{% url 'blog:post-delete' pk=post.pk slug=post.slug %}"
        hx-target="#modal"
        href="#"
>
            <span id="delete-icon" class="material-icons">delete</span>
        </a>

        {% include 'blog/components/buttons/like_button.html' %}
    {% endif %}
</div>
    <h1>{{ title }}</h1>

{% endblock %}
{% block content %}
        {{ post.content | safe }}
{% endblock %}
{% block javascript %}
{% endblock %}