<div class="snippet">
    <div class="snippet-header">
        {% include 'blog/components/buttons/like_button.html' %}
        {{ post.like_count }}
        <a class="snippet-title" href="{% url 'blog:post-detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a>
    </div>
    <div class="snippet-content">
    </div>
    <div class="post-info">
        <a class="post-category" href="#">#{{ post.category }}</a>
        <!-- TODO Add Author URL -->
        <a class="post-author" href="{% url 'users:profile-detail' username=post.user %}">{{ post.user }}</a>
        <span class="post-date">{{ post.created_on }}</span>
    </div>
</div>