@import 'colors';
@import 'fonts';
@import 'components';
@import 'grid';
@import 'lengths';
@import 'buttons';
@import 'effects';

html{
  font-size:16px;
  line-height:1.5;
}

*{
  font-family: $primary-font;
  color: $dark-100;
}

a{
    text-decoration: none;
  transition: color .5s;

  &:hover{
    color: $main;
  }
}

.content{
  max-width: $l;
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
}

.material-icons{
  vertical-align: middle;
}

h1 {
  font-size: $font-size-heading;
  font-weight:500;
  font-family: $secondary-font;
  text-transform: uppercase;
}

p, span {
  font-size: $font-size-paragraph;
  font-weight:400;
}

.author {
  font-size: $font-size-paragraph;
  font-weight:500;
  font-style: italic;
  display:block;
}

.date {
  font-weight:600;
  font-size:1rem;
  color: $dark-300;
}