$light-100: #FFF;
$light-200: #DDD;
$light-300: #BBB;
$light-400: #999;

$dark-100: #252422;
$dark-200: #333;
$dark-300: #555;
$dark-400: #777;

$red-100: #F00;
$green-100: #429642;


$light: #fffcf2;
$light-gray: #ccc5b9;
$light-yellow: #FCE3DA;

$dark: #403D39;
$dark-gray: $dark-100;

$main: #EB5E28;
$green: #4A7C59;
$blue: #3454D1;
$green-two: #6AB547;
$blue-two: #016FB9;
$red-100: #F00;
$danger: $red-100;