@import 'fonts';
@import 'colors';
@import 'sizes';


.navbar {
  grid-area:navbar;
  display: grid;
  grid-template-columns:minmax(min-content, 1fr) minmax(min-content, 1fr);
  grid-template-areas: 'logo links';
  align-items:center;
  border-bottom: 1px solid #d0d0d0;
  padding:1rem;

  &-logo{
    align-self: center;
    grid-area:logo;
    img{
      margin:0 auto;
      height:4rem;
    }
  }
  input {
    border:none;
    border-bottom:.2px solid $color-lightgray;
    color:$color-dark;
    font-size:1.25rem;
    text-align: left;
    vertical-align: middle;
    text-indent: 1ch;
    &:focus, &:hover{
    }
  }
  ul {
    grid-area:links;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
  }
  li {
    list-style: none;
  }

  &-search{
    display: flex;
  }

  &-links{
    gap: .5rem;
    display: flex;
}

  &-link{
    text-transform: lowercase;
    font-size: 1.5em;
    font-weight:400;
    align-self: center;
  }

  &-avatar{
    align-self: flex-end;
  }

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
  }
}


#search-icon, #logout-icon, #user-icon, #add-icon{
  font-size:2rem;
  vertical-align: middle;
  line-height: unset;
}
#search-icon, #logout-icon{
  color:$color-lightgray;
}

#user-icon{
  color:$color-lightgray;
}

 #logout-icon{
  color:$color-red;
}

#add-icon {
  color:$color-lightgray;
  transition:all 1s ease-out;
  &:hover{
    color:$color-red;
  }
}

.profile-image {
  height:5rem;
  border-radius:3rem;
}

.flex-header{
  display: flex;
  align-items: center;
  gap:1rem;
}