@import 'colors';

$primary-font :'Nunito', sans-serif;
$secondary-font :'Nunito', sans-serif;

$font-size-100: 1em;
$font-size-200: 1.25em;
$font-size-300: 1.5em;
$font-size-400: 1.75em;
$font-size-500: 2em;