$primary-font :'Roboto', sans-serif;
$secondary-font :'Roboto Slab', sans-serif;

$font-size-100: 1rem;
$font-size-200: 1.25rem;
$font-size-300: 1.5rem;
$font-size-400: 1.75rem;
$font-size-500: 2rem;
$font-size-paragraph: 1.5rem;
$font-size-heading: 2.5rem;

