$color-dark: #262626;
$color-gray: #39393a;
$color-lightgray: #818080;
$color-light: #F2E8CF;
$color-primary: #EFE;
$color-blue: #26547c;
$color-red: #BC4749;
$color-light-red: #e5cacd;
$color-green: #A7C957;